[phases.setup]
apt_pkgs = ["libpq-dev", "gettext", "curl"]

[phases.build]
commands = ["pip install -r requirements.txt"]

[phases.start]
commands = ["gunicorn innohub_website.wsgi:application --bind 0.0.0.0:$PORT"]
