{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Share a post{% endblock %}

{% block content %}
<div class="container" style="margin-top: 80px;">
    {% if sent %}
        <h1>Email successfully sent</h1>
        <p style="text-align: center">
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1 class="mt-10">Share "{{ post.title }}" by Email</h1>
        <form method="post">
            <div class="form-container" style="width: 100%; max-width: 600px; margin: auto;">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <input type="submit" value="Send Email" class="btn btn-primary">
                </div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
